<div id="{{mojit_view_id}}">
{{#if needAuth}}
{{#if loginerror}}<p class="error">Invalid credentials. Try again!</p>{{/if}}
    <form method="post" action="/login">
        <label>username: <input type="text" name="username" placeholder="username"></label>
        <label>password: <input type="password" name="password" placeholder="password"></label>
        <input type="submit" value="log in" />
    </form>
{{else}}
<a href="/logout" title="Logout">logout</a>

<form method="post" action="/create">
    <input name="title" placeholder="Title"/>
    <input name="description" placeholder="Description"/>
    <select name="currency">
        <option value="USD">USD</option>
        <option value="INR">INR</option>
    </select>
    <input type="number" name="base_price" placeholder="Base Price"/>
    <input type="submit" value="create" />
    
</form>
{{/if}}
</div>
